<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Mailbox
    <small>13 new messages</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Mailbox</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3">

      <a class="btn btn-primary btn-block margin-bottom"
         *ngIf="action == 'compose'"
         (click)="compose();action = 'back'">Compose</a>

      <a class="btn btn-primary btn-block margin-bottom"
         *ngIf="action == 'back'"
         (click)="back();action ='compose'">Back to Inbox</a>

      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Folders</h3>

          <div class="box-tools">
            <button type="button" class="btn btn-box-tool"  (click)="folderIsCollapse = !folderIsCollapse">
              <i class="fa {{ folderIsCollapse ? 'fa-plus': 'fa-minus'}}">
              </i>
            </button>
          </div>
        </div>
        <!--TODO collapse动画效果添加-->
        <div class="box-body no-padding" [collapse]="folderIsCollapse">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a [routerLink]="[{box: 'Inbox'}]"><i class="fa fa-inbox"></i> Inbox
              <span class="label label-primary pull-right">12</span></a></li>
            <li><a [routerLink]="[{box: 'Sent'}]"><i class="fa fa-envelope-o"></i> Sent</a></li>
            <li><a [routerLink]="[{box: 'Drafts'}]"><i class="fa fa-file-text-o"></i> Drafts</a></li>
            <li><a [routerLink]="[{box: 'Junk'}]"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a>
            </li>
            <li><a [routerLink]="[{box: 'Trash'}]"><i class="fa fa-trash-o"></i> Trash</a></li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /. box -->
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Labels</h3>

          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" (click)="labelIsCollapse = !labelIsCollapse">
              <i class="fa {{labelIsCollapse ? 'fa-plus':'fa-minus'}}"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding" [collapse]="labelIsCollapse">
          <ul class="nav nav-pills nav-stacked">
            <li><a [routerLink]="[{labels: 'Important'}]"><i class="fa fa-circle-o text-red"></i> Important</a></li>
            <li><a [routerLink]="[{labels: 'Promotions'}]"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
            <li><a [routerLink]="[{labels: 'Social'}]"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->

    <router-outlet></router-outlet>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
