.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.user-panel:before,
.user-panel:after {
  content: " ";
  display: table;
}

.user-panel:after {
  clear: both;
}

.user-panel > .image > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}

.user-panel > .info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}

.user-panel > .info > p {
  font-weight: 600;
  margin-bottom: 9px;
}

.user-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
}

.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
  margin-right: 3px;
}


/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {

  .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info {
    display: none !important;
    -webkit-transform: translateZ(0);
  }
}

/*
 * Skin: Blue
 * ----------
 */
:host-context(.skin-blue) .user-panel > .info,
:host-context(.skin-blue) .user-panel > .info > a {
  color: #fff;
}
