.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  white-space: nowrap;
  overflow: hidden;
}

.sidebar-menu:hover {
  overflow: visible;
}

:host >>> li {
  position: relative;
  margin: 0;
  padding: 0;
}

:host >>> li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}

:host >>> li > a > .fa,
:host >>> li > a > .glyphicon,
:host >>> li > a > .ion {
  width: 20px;
}

:host >>> li .label,
:host >>> li .badge {
  margin-right: 5px;
}

:host >>> li .badge {
  margin-top: 3px;
}

:host >>> li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}

:host >>> li > a > .fa-angle-left,
:host >>> li > a > .pull-right-container > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
}

:host >>> li.active > a > .fa-angle-left,
:host >>> li.active > a > .pull-right-container > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}



/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {

  :host-context(.sidebar-mini.sidebar-collapse)  .sidebar-menu > li {
    position: relative;
  }

  :host-context(.sidebar-mini.sidebar-collapse)  .sidebar-menu > li > a {
    margin-right: 0;
  }

  :host-context(.sidebar-mini.sidebar-collapse)  .sidebar-menu > li > a > span {
    border-top-right-radius: 4px;
  }

  :host-context(.sidebar-mini.sidebar-collapse)  .sidebar-menu > li:not(.treeview) > a > span {
    border-bottom-right-radius: 4px;
  }

  :host-context(.sidebar-mini.sidebar-collapse)  .sidebar-menu > li:hover > a > span:not(.pull-right),
  :host-context(.sidebar-mini.sidebar-collapse)  .sidebar-menu > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 50px;
  }

  :host-context(.sidebar-mini.sidebar-collapse)  .sidebar-menu > li:hover > a > span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit;
  }

  :host-context(.sidebar-mini.sidebar-collapse)  .sidebar-menu > li:hover > a > .pull-right-container {
    float: right;
    width: auto !important;
    left: 200px !important;
    top: 10px !important;
  }

  :host-context(.sidebar-mini.sidebar-collapse)  .sidebar-menu > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
    display: none;
  }

  :host-context(.sidebar-mini.sidebar-collapse)  .sidebar-menu > li > a > span,
  :host-context(.sidebar-mini.sidebar-collapse)  .sidebar-menu > li > a > .pull-right,
  :host-context(.sidebar-mini.sidebar-collapse)  .sidebar-menu li.header {
    display: none !important;
    -webkit-transform: translateZ(0);
  }

}


/*
 * Skin: Blue
 * ----------
 */
:host-context(.skin-blue) .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}

:host-context(.skin-blue) .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
:host-context(.skin-blue) .sidebar-menu > li:hover > a,
:host-context(.skin-blue) .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}
