/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {

  :host-context(.sidebar-mini.sidebar-collapse) .main-header .logo {
    width: 50px;
  }

  :host-context(.sidebar-mini.sidebar-collapse) .main-header .logo > .logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
  }

  :host-context(.sidebar-mini.sidebar-collapse) .main-header .logo > .logo-lg {
    display: none;
  }

  :host-context(.sidebar-mini.sidebar-collapse) .main-header .navbar {
    margin-left: 50px;
  }
}

/*
 * Skin: Blue
 * ----------
 */
:host-context(.skin-blue) .main-sidebar {
  background-color: #222d32;
}
:host-context(.skin-blue) .main-header .navbar {
  background-color: #3c8dbc;
}
:host-context(.skin-blue) .main-header .navbar .nav > li > a {
  color: #ffffff;
}
:host-context(.skin-blue) .main-header .navbar .nav > li > a:hover,
:host-context(.skin-blue) .main-header .navbar .nav > li > a:active,
:host-context(.skin-blue) .main-header .navbar .nav > li > a:focus,
:host-context(.skin-blue) .main-header .navbar .nav .open > a,
:host-context(.skin-blue) .main-header .navbar .nav .open > a:hover,
:host-context(.skin-blue) .main-header .navbar .nav .open > a:focus,
:host-context(.skin-blue) .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
:host-context(.skin-blue) .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
:host-context(.skin-blue) .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
:host-context(.skin-blue) .main-header .navbar .sidebar-toggle {
  color: #fff;
}
:host-context(.skin-blue) .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  :host-context(.skin-blue) .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  :host-context(.skin-blue) .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  :host-context(.skin-blue) .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
:host-context(.skin-blue) .main-header .logo {
  background-color: #367fa9;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
:host-context(.skin-blue) .main-header .logo:hover {
  background-color: #357ca5;
}
:host-context(.skin-blue) .main-header li.user-header {
  background-color: #3c8dbc;
}

:host-context(.skin-blue.layout-top-nav) .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
:host-context(.skin-blue.layout-top-nav) .main-header > .logo:hover {
  background-color: #3b8ab8;
}
