/* You can add global styles to this file, and also import other style files */
html,
body{
  background-color: #d2d6de;
}

.logon-title{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-bottom: 10px;
}

.mt-lg{
  margin-top: 15px !important;
}
.pt-lg{
  padding-top: 15px !important;
}
.p-lg{
  padding: 15px !important;
}
.alert-text{
  padding: 8px;
  margin-top: 10px;
}


/*custom panel*/
.panel .table {
  margin-bottom: 0;
  border: 0;
}
.panel.panel-transparent {
  border: 0;
  background-color: transparent;
  box-shadow: 0 0 0 #000;
}
.panel.panel-transparent .panel-heading,
.panel.panel-transparent .panel-body {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}
.panel-flat {
  margin: 0 !important;
  border: 0;
}
.panel-group .panel-flat {
  box-shadow: 0 0 0 #000;
}
.panel-group .panel-flat:first-child {
  border-radius: 4px 4px 0 0;
}
.panel-group .panel-flat:last-child {
  border-radius: 0 0 4px 4px;
}
.panel-heading paneltool > a {
  display: inline-block;
  color: #fff;
  width: 2em;
  text-align: center;
}
.panel-default .panel-heading paneltool > a {
  color: #c1c2c3;
}
.panel-heading > .label.pull-right {
  margin-top: 3px;
}
.panel-heading > .label.pull-right + .label.pull-right {
  margin-right: 10px;
}
.panel-heading.panel-heading-collapsed {
  border-radius: 3px;
}
.panel-footer .pagination {
  margin: 0;
}
.panel-footer .radial-bar {
  margin-bottom: 0;
}
.panel-footer p {
  margin-bottom: 0;
}
.panel-heading-active {
  background-color: #27c24c !important;
  font-weight: bold;
  font-size: 16px;
}
.panel-heading-active > a {
  padding: 15px 0;
  color: #fff !important;
  -webkit-transition: padding 0.5s ease;
  -o-transition: padding 0.5s ease;
  transition: padding 0.5s ease;
}
.panel-heading-active + .panel-collapse:after {
  content: "";
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 0;
  border-bottom: 1px solid #e1e2e3;
}
.panel-inverse {
  border-color: #cfdbe2;
}
.panel-inverse > .panel-heading {
  color: #ffffff;
  background-color: #131e26;
  border-color: #131e26;
}
.panel-inverse > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #cfdbe2;
}
.panel-inverse > .panel-heading .badge {
  color: #131e26;
  background-color: #ffffff;
}
.panel-inverse > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #cfdbe2;
}
.panel-green {
  border-color: #cfdbe2;
}
.panel-green > .panel-heading {
  color: #ffffff;
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.panel-green > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #cfdbe2;
}
.panel-green > .panel-heading .badge {
  color: #37bc9b;
  background-color: #ffffff;
}
.panel-green > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #cfdbe2;
}
.panel-pink {
  border-color: #cfdbe2;
}
.panel-pink > .panel-heading {
  color: #ffffff;
  background-color: #f532e5;
  border-color: #f532e5;
}
.panel-pink > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #cfdbe2;
}
.panel-pink > .panel-heading .badge {
  color: #f532e5;
  background-color: #ffffff;
}
.panel-pink > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #cfdbe2;
}
.panel-purple {
  border-color: #cfdbe2;
}
.panel-purple > .panel-heading {
  color: #ffffff;
  background-color: #7266ba;
  border-color: #7266ba;
}
.panel-purple > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #cfdbe2;
}
.panel-purple > .panel-heading .badge {
  color: #7266ba;
  background-color: #ffffff;
}
.panel-purple > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #cfdbe2;
}
.panel-dark {
  border-color: #cfdbe2;
}
.panel-dark > .panel-heading {
  color: #ffffff;
  background-color: #3a3f51;
  border-color: #3a3f51;
}
.panel-dark > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #cfdbe2;
}
.panel-dark > .panel-heading .badge {
  color: #3a3f51;
  background-color: #ffffff;
}
.panel-dark > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #cfdbe2;
}
