/* Layout */
.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}

.wrapper:after {
  clear: both;
}

.layout-boxed .wrapper {
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

.layout-boxed {
  background: url('./assets/images/boxed-bg.jpg') repeat fixed;
}

/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {

  .sidebar-mini.sidebar-collapse .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;
    z-index: 850;
  }
}

/*
 * Skin: Blue
 * ----------
 */

.skin-blue .wrapper {
  background-color: #222d32;
}

.skin-blue .content-header {
  background: transparent;
}

